<!DOCTYPE html>
<html lang="en">
 <head prefix="og: https://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

{{ block "title" . }}
{{   if .Site.Params.briefTitle }}
  <title>{{ .Site.Params.briefTitle }}{{ with .Title | markdownify }} | {{ . }}{{ end }}</title>
  <meta property="og:title" content="{{ .Site.Params.briefTitle }}{{ with .Title }} | {{ . }}{{ end }}">
  <meta property="twitter:title" content="{{ .Site.Params.briefTitle }}{{ with .Title }} | {{ . }}{{ end }}">
{{   else }}
  <title>{{ .Site.Title | markdownify }}{{ with .Title }} | {{ . | markdownify }}{{ end }}</title>
  <meta property="og:title" content="{{ .Site.Title }}{{ with .Title }} | {{ . }}{{ end }}">
  <meta property="twitter:title" content="{{ .Site.Title }}{{ with .Title }} | {{ . }}{{ end }}">
{{   end }}
{{ end }}

  <meta property="og:url" content="{{ .Permalink | absLangURL }}">
  <meta property="og:locale" content="en_US">
  <meta name="twitter:card" content="summary">

{{ if .IsHome }}
  <meta property="og:type" content="website">
{{ else }}
  <meta property="og:type" content="article">
{{ end }}

{{ with .Site.Author.name }}
  <meta name="author" content="{{ . }}">
{{ end }}

{{ with .Site.Title }}
  <meta property="og:site_name" content="{{ . }}">
  <meta itemprop="name" content="{{ . }}">
{{ end }}

{{ with .Description }}
  <meta name="description" content="{{ . | truncate 155 }}">
  <meta itemprop="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
  <meta name="twitter:description" content="{{ . | truncate 200 }}">
{{ end }}

{{ with .Site.Params.ImageUrl }}
  <meta itemprop="image" content="{{ . }}">
  <meta name="twitter:image:src" content="{{ . }}">
  <meta property="og:image" content="{{ . }}">
{{ end }}
{{ with .Site.Params.ImageWidth }}
  <meta property="og:image:width" content="{{ . }}">
{{ end }}
{{ with .Site.Params.ImageHeight }}
  <meta property="og:image:height" content="{{ . }}">
{{ end }}
{{ with .Site.Params.ImageAlt }}
  <meta property="og:image:alt" content="{{ . }}">
{{ end }}

{{ with .Site.Params.Twitter }}
  <meta name="twitter:site" content="{{ . }}">
  <meta name="twitter:creator" content="{{ . }}">
{{ end }}

{{ with .Params.date }}
<meta property="article:modified_time" content="{{ dateFormat "2006-01-02T15:04:05+07:00" . }}">
{{ end }}

{{ with .Keywords }}
  <meta name="keywords" content="{{ delimit . ", " }}">
  <meta property="article:tag" content="{{ delimit . ", " }}">
{{ end }}
{{ block "linksscripts" . }}
{{   partial "linksscripts.html" . }}
{{ end }}

{{ block "extrahead" . }}
{{   partial "extrahead.html" . }}
{{ end }}
{{ range .AlternativeOutputFormats -}}
{{   printf `  <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
 </head>
{{   if .Params.class }}
 <body class="{{ .Params.class }}">
{{   else }}
 <body>
{{   end }}
  <noscript>This site requires (a little bit of) Javascript.</noscript>

{{ block "header" . }}
  <header>
   <div class="container">
{{   partial "headerlogotitle.html" . }}
{{   partial "headernav.html" .  }}
   </div>
  </header>
{{ end }}

{{ block "nav-sections" . }}
{{   partial "nav-sections.html" . }}
{{ end }}

{{ block "main" . }}
  <p>Placeholder for main content.</p>
{{ end }}

{{ block "footer" . }}
{{   partial "footer.html" . }}
{{ end }}

{{ block "analytics" . }}
{{   partial "matomo.html" . }}
{{ end }}

{{ block "overlays" . }}
{{   partial "overlays.html" . }}
{{ end }}

 </body>
</html>
