{{ define "main" }}
{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}
 <div class="container">

{{   partial "breadcrumbs.html" . }}
{{   partial "follow.html" . }}

  <section>
{{   partial "title-et-al-main.html" . }}

{{   if .Content }}
   <div class="content">
{{     .Content }}
   </div>
{{   end }}

{{   $p := ( .Paginate ( where ( where .RegularPages "Params.display" "!=" "hide" ) "Params.display" "!=" "false" )) }}
{{   partial "range-ul-article.html" $p.Pages.ByLastmod.Reverse }}
{{   partial "paginate-buttons.html" $p }}

  </section>
 </div>
</main>
{{ end }}
