{{ define "main" }}
<main>
 <div class="container">

{{   partial "breadcrumbs.html" . }}
{{   partial "follow.html" . }}

{{   if eq .Params.display false }}
  <p>Post unavailable.</p>
{{   else }}
{{     if .Params.class }}
  <article class="{{ .Params.class }}">
{{     else }}
  <article>
{{     end }}

{{     partial "title-et-al-main.html" . }}

   <div class="content">
{{     .Content }}
   </div>
{{     partial "discuss.html" . }}
  </article>
{{   end }}
 </div>
</main>
{{ end }}
