@layer hugo-theme-j12t-base {

  div#countdown {
     text-transform: uppercase;
  }
  div#countdown > div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0 2em;
    min-height: 80px;
  }
  div#countdown > div.row:nth-child(3) {
    flex-direction: column;
    margin: 1ex 0;
  }
  div#countdown > div.row > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0.3ex 0;
  }
  div#countdown > div.row > span > span {
    font-size: 200%;
    margin: 0 0.3ex;
  }
  div#countdown > div.row:nth-child(1) > span > span {
    font-size: 400%;
    font-weight: 900;
  }

  #countdown-days,
  #countdown-event {
    display: block;
  }

  #countdown-event {
    font-size: 250%;
    text-transform: none;
    padding-top: 1ex;
  }
}
