@layer hugo-theme-j12t-base {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  :root {
    --max-width: 768px;
    --header-color: #f5f5f5;
    --footer-color: #f5f5f5;
    --line-color: #eaeaea;
  }
  body {
    margin: 0;
  }

  table {
    border-collapse: collapse;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid #a0a0a0;
  }

  main,
  header > div.container,
  footer > div.container {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  header {
    margin: 0;
    padding: 0;
    background: var(--header-color);
    border-bottom: var(--line-color) solid 1px;
  }

  header > div.container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr;
    column-gap: 10px;
  }

  header div.title img.logo,
  header div.title span.title {
    vertical-align: middle;
  }

  header div.nav-tagline {
    flex-grow: 1;
  }

  header nav.headernav {
    text-align: right;
    position: relative; /* so we can do an absolute child */
    font-size: 87.5%;
  }

  header nav.headernav label.hamburger,
  input#hamburger {
    display: none;
  }

  header nav.headernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  header nav.headernav li {
    /* styling regardless of mode */
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    text-transform: uppercase;
  }

  header nav.headernav li ul {
    display: none;
    text-align: left;
    z-index: 100;
    background: #fff;
  }

  header nav.headernav li:hover ul {
    display: block;
    position: absolute;
  }

  header nav.headernav li li {
    display: block;
  }

  footer {
    clear: both;
    margin: 50px 0 0 0;
    padding: 1px 0; /* otherwise Chrome will collapse the enclosing container */
    background-color: var(--footer-color);
    border-top: var(--line-color) solid 1px;
  }

  footer > div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
  }

  footer a {
    text-decoration: none;
  }

  ul.range-posts {
    margin: 0;
    padding: 0;
  }

  ul.range-posts > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p.date + h1,
  p.date + a h1,
  p.date + h2,
  p.date + a h2 {
    margin-top: 0.3ex;
    margin-bottom: 1.2em;
  }
  p.date {
    margin: 1.2em 0 0 0;
  }

  ul.pager {
    padding: 0;
    text-align: center;
  }
  ul.pager li {
    padding: 0;
    display: inline;
    list-style-type: none;
  }

  div.slide-in-img {
    max-width: 25%;
  }
  div.slide-in-img img {
    width: 100%;
  }
  div.slide-in-img-left {
    float: left;
    margin: 0 30px 30px 0;
  }
  div.slide-in-img-right {
    float: right;
    margin: 0 0 30px 30px;
  }

  /* content */
  p.main.author,
  p.main.source {
    display: none;
  }

  div.admonition,
  div.status {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 10px;
  }

  div.admonition p.admonition-title {
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
  div.admonition p.admonition-title:after {
    content: ":"
  }

  div.admonition div.admonition.warning {
    background: #fff0f0;
    border-color: #ff8080;
  }

  /* breadcrumbs */
  nav#breadcrumbnav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav#breadcrumbnav li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  nav#breadcrumbnav li + li::before {
    content: "\00BB";
  }

  /* glossary */
  span.undef:before {
    content: "UNDEFINED: ";
  }
  span.undef {
    color: red;
  }

  /* when display narrow, hamburger */
  @media screen and (max-width: 905px) {
    header nav.headernav label.hamburger {
      display: inline-block;
      font-style: normal;
      text-align: center;
      position: relative;
    }

    header nav.headernav ul {
      text-align: left;
      position: absolute;
      right: 0;
      border: 1px solid #c0c0c0;
      border-radius: 5px;
      background: #fff;
      z-index: 100;
      margin-top: 0;

      /* when input not checked */
      display: none;
    }
    header nav.headernav input:checked ~ ul {
      /* when input checked */
      display: block;
    }

    header nav.headernav ul li {
      display: block;
      text-align: center;
    }

    /* sub-menu */
    header nav.headernav li:hover ul {
      display: block;
      left: 20%;
    }

    footer div.container {
      flex-direction: column;
    }
    footer div.container p {
      text-align: center;
    }
  }
}
