{{ if or .Params.categories .Params.tags }}
  <div class="categories">
   <ul class="categories">
{{   range $i := (slice "categories" "tags") }}
{{     with ($.Param $i) }}
{{       range $k := . }}
    <li><a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a></li>
{{       end }}
{{     end }}
{{   end }}
   </ul>
  </div>
{{ end }}

