  <footer>
   <div class="container">
    <div>
     <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
     </a>
    </div>
{{ if .Site.Author.name }}
    <p>&copy; {{ .Site.Author.name }}</p>
{{ end }}
   </div>
  </footer>
