{{ $p := . }}
{{ if or ($p.HasPrev) ($p.HasNext) }}
   <ul class="pager">
{{   if $p.HasPrev }}
    <li class="newer">
     <a href="{{ $p.Prev.URL }}">&larr;&nbsp;Newer</a>
    </li>
{{   end }}
{{   if $p.HasNext }}
    <li class="older">
     <a href="{{ $p.Next.URL }}">Older&nbsp;&rarr;</a>
    </li>
{{   end }}
   </ul>
{{ end }}
