{{ $p := . }}
   <dl class="range-dl-summary">
{{ range $p }}
    <dt>
{{   if .Params.date }}
     <span class="published">{{ .Date | time.Format ":date_long" }}</span>
{{   end }}
     <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
{{   if .Params.status }}
     <span class="status">{{ .Params.status }}</span>
{{   end }}
    </dt>
{{   if .Params.summary }}
    <dd>
{{     .Params.summary }}
    </dd>
{{   end }}
{{ end }}
   </dl>
