{{ $p := . }}
   <ul class="range-ul-article">
{{ range $p }}
    <li>
{{   if .Params.class }}
     <article class="{{ .Params.class }}">
{{   else }}
     <article>
{{   end }}
{{   partial "title-et-al-list.html" . }}
      <div class="content">
{{   .Content }}
      </div>
     </article>
    </li>
{{ end }}
   </ul>
