{{ partial "status.html" . }}
{{ with .Params.date }}
  <p class="date main">{{ dateFormat "2006-01-02" . }}</p>
{{ end }}
  <h1 class="title main"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h1>

{{ with .Params.subtitle }}
  <p class="subtitle main">{{ . }}</p>
{{   end }}

{{ if .Params.author }}
  <p class="author main">By 
{{   with .Params.authorurl }}<a href="{{ . }}">{{ end }}{{ .Params.author }}{{ with .Params.authorurl }}</a>{{ end }}
</p>
{{ else }}
{{   with .Site.Params.Author.Name }}
  <p class="author main">By {{ . }}</p>
{{   end }}
{{ end }}
  <p class="source main">{{ .Page.Permalink }}</p>

{{ partial "categories.html" . }}

