{{ template "toc" . }}

{{ define "toc" }}
{{   $current := .current }}
{{   if .root.Pages }}
 <ol{{ if not .nottop }} id="toc"{{ end }} class="toc">
{{     range .root.Pages.ByWeight }}
  <li{{ if eq . $current }} id="toc-current"{{ end }} class="toc">
   <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
{{       template "toc" ( dict "root" . "current" $current "nottop" 1 ) }}
  </li>
{{     end }}
 </ol>
{{   end }}
{{ end }}
