{{- $tag   := .Get 0 -}}
{{- $label := .Get 1 -}}
{{- with .Site.GetPage ( printf "/glossary/%s.md" ( $tag )) -}}
<a class="term" title="Click for definition in the glossary" href="/glossary/{{ lower $tag }}/">
{{-     if $label -}}
{{-         $label -}}
{{-     else -}}
{{-         .Title | markdownify -}}
{{-     end -}}
</a>
{{- else -}}
<span class="undef">{{ $tag }}</span>
{{- end -}}
