{{ if .Get "style" }}
<div class="img" style="{{ .Get "style" }}">
{{ else if .Get "class" }}
<div class="{{ .Get "class" }}">
{{ else }}
<div class="img">
{{ end }}
{{ if .Get "href" }}
 <a href="{{ .Get "href" }}">
  <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}">
 </a>
{{ else }}
 <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}">
{{ end }}
</div>
