{{/* emits a user id. If it can be hyperlinked, it will be. */}}
{{- $userid   := .Get 0 -}}
{{- with index .Site.Data.useridsToHref $userid -}}
<span class="userid"><a href="{{ . }}">{{ $userid }}</a></span>
{{- else -}}
<span class="userid">{{ $userid }}</span>
{{- end -}}